<h1><a href=" https://mjengoacc.herokuapp.com/admin">Admin</a>
</h1>

<h1>API Links</h1>


<p><strong>all items: </strong><a
                href=" https://mjengoacc.herokuapp.com/api/items">https://mjengoacc.herokuapp.com/api/items</a>
</p>

<p><strong>all projects: </strong><a
                href=" https://mjengoacc.herokuapp.com/api/projects">https://mjengoacc.herokuapp.com/api/projects</a>
</p>
<p><strong>all users: </strong><a
                href=" https://mjengoacc.herokuapp.com/api/users">https://mjengoacc.herokuapp.com/api/users</a>
</p>

<p><strong>all items by project: </strong><a
                href=" https://mjengoacc.herokuapp.com/api/item/project/<project>">https://mjengoacc.herokuapp.com/api/item/project/{project}</a>
</p>

<p><strong>By Id General: </strong><a href="https://mjengoacc.herokuapp.com/api/item/<id>
  ">https://mjengoacc.herokuapp.com/api/item/{id}</a>
</p>

<p><strong>By Id Project: </strong><a href="https://mjengoacc.herokuapp.com/api/item/project/<project>/id/<id>
  ">https://mjengoacc.herokuapp.com/api/item/project/{project}/id/{id}</a>
</p>


<p><strong>By supplier: </strong><a
                href=" https://mjengoacc.herokuapp.com/api/item/project/<project>/supplier/<supplier>">https://mjengoacc.herokuapp.com/api/item/project/{project}/supplier/{supplier}</a>
</p>


<p><strong>By date: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/item/project/<project>/date/<date>">https://mjengoacc.herokuapp.com/api/item/project/{project}/date/{date}</a>
</p>


<h2>Calculation APIs</h2>

<p><strong>Total Price: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_price/<project>">https://mjengoacc.herokuapp.com/api/total_price/{project}</a>
</p>

<p><strong>Total by item: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/price_by_item/<project>">https://mjengoacc.herokuapp.com/api/price_by_item/{project}</a>
</p>

<p><strong>Avg by item: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/avg_price_by_item/<project>">https://mjengoacc.herokuapp.com/api/avg_price_by_item/{project}</a>
</p>

<p><strong>Qty by item: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/qty_by_item/<project>">https://mjengoacc.herokuapp.com/api/qty_by_item/{project}</a>
</p>

<p><strong>Total price by item and Supplier: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/price_by_item_supplier/<project>">https://mjengoacc.herokuapp.com/api/price_by_item_supplier/{project}</a>
</p>

<p><strong>Avg price by item and Supplier: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/avg_price_by_item_supplier/<project>">https://mjengoacc.herokuapp.com/api/avg_price_by_item_supplier/{project}</a>
</p>

<p><strong>Total by supplier: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_price_by_supplier/<project>">https://mjengoacc.herokuapp.com/api/total_price_by_supplier/{project}</a>
</p>

<p><strong>Total by date: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_price_by_date/<project>">https://mjengoacc.herokuapp.com/api/total_price_by_date/{project}</a>
</p>

<p><strong>Total by month: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_price_by_month/<project>">https://mjengoacc.herokuapp.com/api/total_price_by_month/{project}</a>
</p>

<p><strong>Total by year: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_price_by_year/<project>">https://mjengoacc.herokuapp.com/api/total_price_by_year/{project}</a>
</p>

<p><strong>Total by date range: </strong> <a
                href="https://mjengoacc.herokuapp.com/api/total_amount_by_date_range/<project>/<date>/<date2>">https://mjengoacc.herokuapp.com/api/total_amount_by_date_range/{project}/{date}/{date2}</a>
</p>



<p>{{total}}</p>