<h1>API Links</h1>


<p><strong>all items: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_items">https://mjengoacc.herokuapp.com/api/all_items</a>
</p>


<p><strong>All suppliers: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_suppliers">https://mjengoacc.herokuapp.com/api/all_suppliers</a>
</p>


<p><strong>All units: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_units">https://mjengoacc.herokuapp.com/api/all_units</a>
</p>


<p><strong>All dates: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_dates">https://mjengoacc.herokuapp.com/api/all_dates</a>
</p>



<p><strong>By Id: </strong><a href="https://mjengoacc.herokuapp.com/api/item_by_id/
  ">https://mjengoacc.herokuapp.com/api/item_by_id/
    {database}</a>
</p>


<p><strong>By supplier: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/item_by_supplier/">https://mjengoacc.herokuapp.com/api/item_by_supplier/{supplier}</a>
</p>


<p><strong>By date: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/item_by_date/">https://mjengoacc.herokuapp.com/api/item_by_date/{date}</a>
</p>