<h1><a href=" https://mjengoacc.herokuapp.com/admin">Admin</a>
</h1>

<h1>API Links</h1>


<p><strong>all items: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_items">https://mjengoacc.herokuapp.com/api/all_items</a>
</p>


<p><strong>All suppliers: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_suppliers">https://mjengoacc.herokuapp.com/api/all_suppliers</a>
</p>


<p><strong>All units: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_units">https://mjengoacc.herokuapp.com/api/all_units</a>
</p>


<p><strong>All dates: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/all_dates">https://mjengoacc.herokuapp.com/api/all_dates</a>
</p>



<p><strong>By Id: </strong><a href="https://mjengoacc.herokuapp.com/api/item_by_id/
  ">https://mjengoacc.herokuapp.com/api/item_by_id/
    {database}</a>
</p>


<p><strong>By supplier: </strong><a
    href=" https://mjengoacc.herokuapp.com/api/item_by_supplier/">https://mjengoacc.herokuapp.com/api/item_by_supplier/{supplier}</a>
</p>


<p><strong>By date: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/item_by_date/">https://mjengoacc.herokuapp.com/api/item_by_date/{date}</a>
</p>


<h2>Calculation APIs</h2>

<p><strong>Total Price: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_price">https://mjengoacc.herokuapp.com/api/total_price</a>
</p>

<p><strong>Total by item: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/price_by_item">https://mjengoacc.herokuapp.com/api/price_by_item</a>
</p>

<p><strong>Avg by item: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/avg_price_by_item">https://mjengoacc.herokuapp.com/api/avg_price_by_item</a>
</p>

<p><strong>Qty by item: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/qty_by_item">https://mjengoacc.herokuapp.com/api/qty_by_item</a>
</p>

<p><strong>Total price by item and Supplier: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/price_by_item_supplier">https://mjengoacc.herokuapp.com/api/price_by_item_supplier</a>
</p>

<p><strong>Avg price by item and Supplier: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/avg_price_by_item_supplier">https://mjengoacc.herokuapp.com/api/avg_price_by_item_supplier</a>
</p>

<p><strong>Total by supplier: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_price_by_supplier">https://mjengoacc.herokuapp.com/api/total_price_by_supplier</a>
</p>

<p><strong>Total by date: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_price_by_date">https://mjengoacc.herokuapp.com/api/total_price_by_date</a>
</p>

<p><strong>Total by month: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_price_by_month">https://mjengoacc.herokuapp.com/api/total_price_by_month</a>
</p>

<p><strong>Total by year: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_price_by_year">https://mjengoacc.herokuapp.com/api/total_price_by_year</a>
</p>

<p><strong>Total by date range: </strong> <a
    href="https://mjengoacc.herokuapp.com/api/total_amount_by_date_range/">https://mjengoacc.herokuapp.com/api/total_amount_by_date_range{date}/{date2}</a>
</p>



<p>{{total}}</p>